.filter {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}

.filter::before {
    content: "";
    position: absolute;
    top: 35px;
    width: 352px;
    height: 0px;
    opacity: 0.5;
    border: 1px solid #DEDEDE;
}

.filter select {
    padding: 3px 10px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}