.chart-bar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.chart-bar__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 17px;
  height: 156px;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: #F2F2F2;
}

.chart-bar__fill {
  position: relative;
  width: 100%;
  height: 0%;
  border-radius: 0 0 5px 5px;
  background-color: #5D5FEF;
  transition: all 300ms ease-out;
}

.chart-bar__expense {
  z-index: 2;
  position: absolute;
  top: -30px;
  left: -20px;
  width: 60px;
  text-align: center;
  color: #5D5FEF;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  overflow: hidden;
}