.new-item__container {
  position: relative;
  width: 438px;
  padding: 30px 43px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  cursor: auto;
}

.add-new-item-button {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}