.new-item__form-info {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.new-item__form-info h2 {
  margin-bottom: 5px;
}

.new-item__form-info input[type='date'],
.new-item__form-info input[type='text'],
.new-item__form-info input[type='number'] {
  padding: 6px 9px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.new-item__form-info input[type='number'] {
  margin-bottom: 2px;
}

.new-item__form-info--title {
  display: flex;
  align-items: baseline;
}

.new-item__form-info--title h2 {
  margin-right: 10px;
}

.amount__type {
  display: flex;
}

.amount__income {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.amount__expense {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount__income input[type='radio'],
.amount__expense input[type='radio'] {
  margin-right: 2px;
  accent-color: #808080;
}

.amount__income input[type='radio']:checked,
.amount__expense input[type='radio']:checked {
  accent-color: #5D5FEF;
}

.new-item__form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-item__form-actions button:first-child {
  margin-right: 32px;
}