.fs-tiny {
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 1.666666666666667;
}

.fs-small {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.428571428571429;
}

.fs-normal {
  font-size: 16px;
  letter-spacing: -1.5px;
  line-height: 1.25;
}

.fs-emphasis {
    font-size: 18px;
    letter-spacing: -2px;
    line-height: 1.5;
}

.fs-title {
  font-size: 32px;
  letter-spacing: -2.5px;
  line-height: 0.9375;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fc-green {
  color: #5ADB5A;
}

.fc-red {
  color: #FF5B5B;
}

.fc-black {
  color: #4B4B4B;
}

.fc-grey {
  color: #9A9A9A;
}

.fc-purple {
  color: #5D5FEF;
}

.fc-white {
  color: #FFF;
}

.ft-alert {
  display: none;
  font-weight: 700;
  color: #FF5B5B;
}