@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

	font-family: 'Noto Sans KR', sans-serif;
	color: #4B4B4B;
	background-color: #5D5FEF;
}

div {
	word-break: keep-all;
}

button,
input,
textarea,
select {
	font-family: 'Noto Sans KR', sans-serif;
	color: #4B4B4B;
	letter-spacing: -1px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}