.pocket__list-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.pocket__list-header::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 352px;
  height: 0px;
  opacity: 0.5;
  border: 1px solid #DEDEDE;
}